/data/guacamol_v1*.smiles

runs/
/runs*/
test/test_runs/*/*.csv
test/test_runs/*/metrics.json

.vscode/
# .idea/

__pycache__

/trash/

/notebooks/briem_lessel_plots/BLSets*
/settings.json

**/*.egg-info
runs*
